.LoginForm {
    border: 1px solid black;
    background-color: silver;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.LoginForm-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


.LoginForm-form label{
    margin-bottom: 5px;
}

.LoginForm-form input{
    margin-bottom: 5px;
}